<div class="card h-100 g-brd-gray-light-v7 g-rounded-3 ml-2">
    <div class="card-block g-font-weight-300 g-pa-20">
      <div class="media">
        <div class="d-flex g-mr-15">
          <div class="u-header-dropdown-icon-v1 g-pos-rel g-width-60 g-height-60 g-bg-<%= color %> g-font-size-18 g-font-size-24--md g-color-white rounded-circle">
            <i class="hs-admin-money g-absolute-centered"></i>
          </div>
        </div>

        <div class="media-body align-self-center">
          <div class="d-flex align-items-center g-mb-5">
            <span class="g-font-size-24 g-line-height-1 g-color-black"> $<%= format_currency( paid ) %> </span>
            <span class="d-flex align-self-center g-font-size-0 g-ml-5 g-ml-10--md">
        </span>
          </div>

          <h6 class="g-font-size-16 g-font-weight-300 g-color-gray-dark-v6 mb-0"><%= detail %></h6>
        </div>
      </div>
    </div>
  </div>