$("#modal-field").html("<%= j (render 'layouts/modal') %>")
$('.select-2-client-field').select2({ width: '80%',theme: "bootstrap4" })
$("#modal-field").modal('show')
sale.precio = <%= @field.price %>
sale.cuotas = 0
setInputDate("#fecha_compra")
$("#form-field-sale").on("ajax:success", function(event) {
    fields_table.ajax.reload(null,false)
    let msg = JSON.parse(event.detail[2].response)
    noty_alert(msg.status, msg.msg)
    $("#modal-field").modal('hide')
  }).on("ajax:error", function(event) {
	let msg = JSON.parse( event.detail[2].response )
	$.each( msg, function( key, value ) {
		$(`#form-field-sale #field_${key}`).addClass('is-invalid')
		$(`#form-field-sale .field_${key}`).text( value ).show('slow')
	})
})


document.getElementById('add-client').addEventListener('click', (event) => {
	event.preventDefault()
	let client = document.getElementById('client_id')
	if (client.value != null && client.value != '') {
		let client_name =  $('#client_id option:selected').text()
		$('.client-list').append(`
			<div class="row" id="${client.value}">
				<div class="mb-2  mx-4 col-6">
					<input type="text" value="${client_name}" class="client-id form-control rounded-0 " data-id=${client.value} disabled></input>
				</div>
				<div>
					<button type="button" class="btn u-btn-red remove-client" onclick="remove_client(${client.value})" title="Quitar comprador"> <i class="fa fa-trash"></i> </button>
				</div>
			</div>
		`)
		$('#client_id option:selected').attr('disabled', 'disabled')
		$('.select-2-client-field').val('').trigger('change')
	} else {
		console.log('Error al agregar el cliente a la lista')
	}
})

function remove_client( id ) {
	event.preventDefault()

	let element = document.getElementById(id)
	element.remove()
	$(`#client_id option[value='${id}']`).attr('disabled', false)
}

function get_clients() {
	let compradores = []
	let lista = document.getElementsByClassName('client-id')
	for (let i = lista.length - 1; i >= 0; i--) {
		compradores.push(lista[i].dataset.id)
	}
	return compradores
}

document.getElementById('paid').addEventListener('change', function(event) {
	$('#valor_restante').html('')
	let entrega = parseFloat(this.value)
	if (entrega > 0 && entrega != '' && entrega < sale.precio) {
		this.parentElement.classList.remove('u-has-error-v1')
		sale.resto = sale.precio - entrega
		$('#valor_restante').append(`A pagar en cuotas: <b>$${sale.resto}</b>`)
		calular_valor_cuota()
	} else if ( entrega > sale.precio ) {
		this.parentElement.classList.add('u-has-error-v1')
		$('#valor_restante').append(`<p class='text-danger ml-4'> Ingreso un valor mayor al del lote </>`)
	}
})

document.getElementById('number_of_payments').addEventListener('change', function(event) {
	sale.cuotas = this.value
	calular_valor_cuota()
})

function calular_valor_cuota() {
	if (sale.cuotas > 0 && sale.resto > 0) {
		console.info('PASO 1 ' + sale.resto)
		sale.valor_cuota = sale.resto / sale.cuotas
		sale.valor_cuota = roundToTwo( sale.valor_cuota )
		document.getElementById('valor_cuota').value = sale.valor_cuota
	} else if (sale.cuotas > 0) {
		console.info('PASO 2 ')
		sale.valor_cuota = sale.precio / sale.cuotas
		sale.valor_cuota = roundToTwo( sale.valor_cuota )
		document.getElementById('valor_cuota').value = sale.valor_cuota
	}
}

document.getElementById('submit-form-field-sale').addEventListener('click', (event) => {
	event.preventDefault()
	let info = {
		"clients": get_clients(), 
		"field_id": document.getElementById('field_id').value,
		"comment": document.getElementById('comment').value,
		"apply_arrear": document.getElementById('apply_arrear').value,
		"arrear": document.getElementById('arrear').value,
		"due_date": document.getElementById('due_date').value,
		"paid": parseFloat( document.getElementById('paid').value ),
		"total_cost": document.getElementById('total_cost').value,
		"number_of_payments": document.getElementById('number_of_payments').value,
	  "valor_cuota": parseFloat( document.getElementById('valor_cuota').value )
	}
	// validaciones aqui
	if ($('#fecha_compra').val() === '') {
		noty_alert( 'error', 'Debe seleccionar una fecha' )
		// return
	}

	if (info.clients.length == 0) {
		noty_alert( 'error', 'No ha seleccionado clientes' )
		return
	}

	if (info.paid > sale.precio) {
		// los cambios los hago en el onchange del input
		return
	}

	if (info.number_of_payments == '' ) {
		document.getElementById('number_of_payments').parentElement.classList.add('u-has-error-v1')
		$('#msg_number_of_payment').html('')
		$('#msg_number_of_payment').append(`<p class='text-danger ml-4'> Debe ingresar las cuotas </>`)
		return
	} else {
		document.getElementById('number_of_payments').parentElement.classList.remove('u-has-error-v1')
		$('#msg_number_of_payment').html('')
	}




	fetch('/sales/', 
		{
      method: 'POST',
      headers: {           
        'X-CSRF-Token': document.getElementsByName('csrf-token')[0].content,
        'Accept': 'application/json',
        'Content-Type': 'application/json'
      },
      body:
        JSON.stringify({ "clients": get_clients(), 
													"field_id": document.getElementById('field_id').value,
													"comment": document.getElementById('comment').value,
													"apply_arrear": document.getElementById('apply_arrear').checked,
													"arrear": document.getElementById('arrear').value,
													"due_date": document.getElementById('due_date').value,
													"paid": parseFloat( document.getElementById('paid').value ),
													"total_cost": document.getElementById('total_cost').value,
													"number_of_payments": document.getElementById('number_of_payments').value,
												  "valor_cuota": parseFloat( document.getElementById('valor_cuota').value ),
												  "sale_date": document.getElementById('fecha_compra').value })
    }
  )
  .then( response => response.json() )
  .then( response => {
  	if (response.status === 'success') {
  		fields_table.ajax.reload(null,false)
	    $("#modal-field").modal('hide')
  	}
  	noty_alert(response.status, response.msg)
  } )
  .catch( error => noty_alert('error', 'Ocurrio un error, no se pudo registrar la venta') )
})