$("#modal-field").html("<%= j (render 'layouts/modal_xl') %>")
$('.select-2-client-field').select2({ width: '80%',theme: "bootstrap4" })

document.getElementById('sale_value_in_pesos').style.display = 'none'
document.getElementById('sale_name_pay').style.display = 'none'
document.getElementById('sale_calculo_en_pesos').style.display = 'none'

$("#modal-field").modal('show')

sale.precio = <%= @field.price %>
sale.cuotas = 0
sale.resto =  <%= @field.price %>;
sale.cant_payments = 0;
sale.cant_payment_files = 0;
sale.form = []

setInputDate("#sale_sale_date")
// $("#form-field-sale").on("ajax:success", function(event) {
//     fields_table.ajax.reload(null,false)
//     let msg = JSON.parse(event.detail[2].response)
//     noty_alert(msg.status, msg.msg)
//     $("#modal-field").modal('hide')
//   }).on("ajax:error", function(event) {
// 	let msg = JSON.parse( event.detail[2].response )
// 	$.each( msg, function( key, value ) {
// 		$(`#form-field-sale #field_${key}`).addClass('is-invalid')
// 		$(`#form-field-sale .field_${key}`).text( value ).show('slow')
// 	})
// })

document.getElementById('add-client').addEventListener('click', (event) => {
	event.preventDefault()
	let client = document.getElementById('sale_client_id')
	if (client.value != null && client.value != '') {
		let client_name =  $('#sale_client_id option:selected').text()
		$('.client-list').append(`
			<div class="row" id="${client.value}">
				<div class="mb-2  mx-4 col-6">
					<input type="text" value="${client_name}" class="client-id form-control rounded-0 " data-id=${client.value} disabled></input>
				</div>
				<div>
					<button type="button" class="btn u-btn-red remove-client" onclick="remove_client(${client.value})" title="Quitar comprador"> <i class="fa fa-trash"></i> </button>
				</div>
			</div>
		`)
		$('#sale_client_id option:selected').attr('disabled', 'disabled')
		$('.select-2-client-field').val('').trigger('change')
	} else {
		console.log('Error al agregar el cliente a la lista')
	}
})

function remove_client( id ) {
	event.preventDefault()
	let element = document.getElementById(id)
	element.remove()
	$(`#sale_client_id option[value='${id}']`).attr('disabled', false)
}

function get_clients() {
	let compradores = []
	let lista = document.getElementsByClassName('client-id')
	for (let i = lista.length - 1; i >= 0; i--) {
		compradores.push(lista[i].dataset.id)
	}
	return compradores
}

/*JS payments*/
document.getElementById('add-payment').addEventListener('click', (e) => {
	e.preventDefault()
	sale.cant_payments++
	sale.cant_payment_files++
	const cant = sale.cant_payment_files

	if ( sale.cant_payments >= 2 ) {
		document.getElementById('add-payment').classList.add("invisible")
	}

	$('#payment-list').append(`
		<div class="row mt-2 payment-data" id="payment_detail_${cant}">
			<label class="col-3">Entrega: </label>
			<select name="currency_id" id="currency_id" class="col-1 mr-2 form-control rounded-0 currency" onchange="cambio_moneda()" >
	      <option value="1">$</option>
	      <option value="2">USD</option>
	      <option value="3">EUR</option>
	      <option value="4">Vehiculo</option>
	      <option value="5">Transferencia</option>
	      <option value="6">Cheques</option>
	    </select>
	    <input type="number" step='0.01' value="" class="form-control rounded-0 col-2 " id='paid' name='paid' onchange="calculo_de_entrega()"></input>
	    <input type="number" step='0.01' value="" class="form-control rounded-0 col-2 ml-2" id='value_in_pesos' name='value_in_pesos' style="display:none" onchange="calculo_de_entrega()"></input>
	    <input type="text" value="" class="form-control rounded-0 col-2 ml-2" id="calculo_en_pesos" name="calculo_en_pesos" style="display:none" disabled></input>
	    <input type="text" value="" class="form-control rounded-0 col-2 ml-2" id='name_pay' name='name_pay' style="display:none" placeholder='Detalle entrega...'></input>
	    <label class="u-file-attach-v2 g-color-gray-dark-v5 mb-0 ml-2">
	      <input id="fileAttachment" name="file-attachment[]" type="file" multiple>
	      <i class="icon-cloud-upload g-font-size-16 g-pos-rel g-top-2 g-mr-5"></i>
	      <span class="js-value"></span>
	    </label>
			<button onclick="remove_payment()" class="btn u-btn-red ml-2"> - </button>
		</div>
	`)
})

function remove_payment(){
	event.preventDefault()
	event.target.parentElement.remove()
	sale.cant_payments--
	document.getElementById('add-payment').classList.remove("invisible")
}

function cambio_moneda(){
	const nodo = event.target.parentElement
	const value_in_pesos = nodo.querySelector('#value_in_pesos')
	const calculo_en_pesos = nodo.querySelector('#calculo_en_pesos')
	nodo.querySelector('#name_pay').value = ''
	value_in_pesos.style.display = 'none'
	calculo_en_pesos.style.display = 'none'
	nodo.querySelector('#name_pay').style.display = 'none'
	let entrega = parseInt(event.target.value)
	switch (entrega) {
		case 1:
			calcular_monto_pagado()
		break;
		case 2:
			value_in_pesos.placeholder = "1 US$ en $"
			value_in_pesos.style.display = 'block'
			calculo_en_pesos.style.display = 'block'
			calcular_monto_pagado()
			break;
		case 3:
			value_in_pesos.placeholder = "1 € en $"
			value_in_pesos.style.display = 'block'
			calculo_en_pesos.style.display = 'block'
			calcular_monto_pagado()
			break;
		case 4:
			calcular_monto_pagado()
		break;
		case 5:
			nodo.querySelector('#name_pay').style.display = 'block'
			calcular_monto_pagado()
			break;
		case 6:
			nodo.querySelector('#name_pay').style.display = 'block'
			calcular_monto_pagado()
			break;
		default:
			break;
	}
}

function calc_valor_en_pesos(e){
	const node = e.parentElement
	let currency_id = node.querySelector(`#currency_id`).value
	let calculo_en_pesos = node.querySelector(`#calculo_en_pesos`)
	let paid = node.querySelector(`#paid`).value
	let value_in_pesos = node.querySelector(`#value_in_pesos`).value
	if (currency_id == '2' || currency_id == '3') {
		if ( value_in_pesos > 0 && paid > 0 ) {
			calculo_en_pesos.value = value_in_pesos * paid
			return
		} else {
			calculo_en_pesos.value = ''
			$('#valor_restante').html('')
			return
		}
	} else {
		if ( paid > 0 ) {
			node.querySelector(`#value_in_pesos`).value = 1
			calculo_en_pesos.value = paid
			return
		} else {
			calculo_en_pesos.value = ''
			$('#valor_restante').html('')
			return
		}
	}
}

function calcular_monto_pagado(){
	console.log('calculo monto pagado')
	$('#valor_restante').html('')
	// seleccionamos los pagos
	const payments = document.getElementsByClassName('payment-data')
	let entrega = 0
	// recorremos y sumamos las entregas
	for (let pay of payments) {
		let currency_id = pay.querySelector('#currency_id').value
		if (currency_id == '2' || currency_id == '3' ) {
			// si este no es null es que es dolar o euro
			entrega += parseFloat( pay.querySelector('#calculo_en_pesos').value )
		} else {
			entrega += parseFloat( pay.querySelector('#paid').value )
		}
	}
	if (isNaN(entrega)) {
		sale.resto = sale.precio
	} else {
		sale.resto = sale.precio - entrega
	}

	if (entrega > 0 &&  !isNaN(entrega) && entrega <= sale.precio) {
		paid.parentElement.classList.remove('u-has-error-v1')
		$('#valor_restante').append(`A pagar en cuotas: <b>$${sale.resto}</b>`)
		calular_valor_cuota()
	} else if ( entrega > sale.precio ) {
		paid.parentElement.classList.add('u-has-error-v1')
		$('#valor_restante').append(`<p class='text-danger ml-4'> Ingreso un valor mayor al del lote </>`)
	}
}

function calculo_de_entrega() {
	console.log('calculo entrega')
	const input = event.target
	calc_valor_en_pesos(input)
	calcular_monto_pagado(input)
}

function sumar_entregas(entrega) {
	// Sumamos todas las entregas puestas
	const payments = document.getElementsByClassName('payment-data')
	let calculo = 0
	for (let pay of payments) {
		let currency_id = pay.querySelector('#currency_id').value
		if (currency_id == '2' || currency_id == '3' ) {
			// si este no es null es que es dolar o euro
			calculo += parseFloat( pay.querySelector('#calculo_en_pesos').value )
		} else {
			calculo += parseFloat( pay.querySelector('#paid').value )
		}
	}
	if (isNaN(calculo)) {
		sale.resto = sale.precio
	} else {
		sale.resto = sale.precio - calculo
	}
	entrega = calculo
}

function all_payments(form_data) {
	const payments = document.getElementsByClassName('payment-data')
	let i = 0
	for (let pay of payments) {
		let paid = parseFloat( pay.querySelector('#paid').value )
		if ( isNaN(paid) || paid == '' ) {
			form_data.append('num_pays', 0 )
			return
		} else {
			i++
			let currency_selected = parseInt( pay.querySelector('#currency_id').value ) 
			let value_in_pesos = parseFloat( pay.querySelector('#value_in_pesos').value )
			let tomado_en = pay.querySelector('#calculo_en_pesos').value
			let detail = pay.querySelector('#name_pay')
			
			form_data.append( `currency_id_${i}`, currency_selected )
	    form_data.append( `payment_${i}`, ( !isNaN( paid ) ) ? paid : '' );
	    if ( currency_selected == 2 || currency_selected == 3 ) {
	    	if ( isNaN(value_in_pesos) ) {
	    		noty_alert('error','Debe ingresar en cuanto toma la moneda ingresada')
		    	pay.querySelector('#value_in_pesos').classList.add('u-has-error-v1')
		    	return
	    	}
	    }
	    form_data.append( `tomado_en_${i}`, ( pay.querySelector('#value_in_pesos') !== null ) ? parseFloat( pay.querySelector('#value_in_pesos').value ) : '' )
	    form_data.append( `value_in_pesos_${i}`, ( pay.querySelector('#calculo_en_pesos') !== null ) ? parseFloat( pay.querySelector('#calculo_en_pesos').value ) : '' )
	    form_data.append( `detail_${i}`, ( pay.querySelector('#name_pay') !== null ) ? pay.querySelector('#name_pay').value : '' )
			let files = pay.querySelector('#fileAttachment')
			if (files !== null) {
				let totalFiles = files.files.length
				if (totalFiles > 0) {
					for (let n = 0; n < totalFiles; n++) {
		        form_data.append(`files_${i}[]`, files.files[n])
		      }
				}
			}
		}
	}
	form_data.append('num_pays', i )
	
	return
}

/*END JS payments*/

document.getElementById('paid').addEventListener('change', function(event) {
	calcular_monto_pagado()
})

document.getElementById('number_of_payments').addEventListener('change', function(event) {
	sale.cuotas = this.value
	calular_valor_cuota()
})

function calular_valor_cuota() {
	if (sale.cuotas > 0 && sale.resto > 0) {
		sale.valor_cuota = sale.resto / sale.cuotas
		sale.valor_cuota = roundToTwo( sale.valor_cuota )
		document.getElementById('valor_cuota').value = sale.valor_cuota
	} else if (sale.cuotas > 0) {
		sale.valor_cuota = sale.precio / sale.cuotas
		sale.valor_cuota = roundToTwo( sale.valor_cuota )
		document.getElementById('valor_cuota').value = sale.valor_cuota
	}
}

document.getElementById('apply_arrear').addEventListener('click', function(e){
	document.getElementById('arrear').required = this.checked
})

document.getElementById('submit-form-field-sale').addEventListener('click', (event) => {
	event.preventDefault()
	let form_data = new FormData()
	form_data.append('clients[]', get_clients())
	form_data.append("field_id", document.getElementById('field_id').value)
	form_data.append("comment", document.getElementById('comment').value)
	form_data.append("apply_arrear", document.getElementById('apply_arrear').checked)
	form_data.append("arrear", document.getElementById('arrear').value)
	form_data.append("due_date", document.getElementById('due_date').value)
	// form_data.append("paid", parseFloat( document.getElementById('paid').value) )
	form_data.append("total_cost", document.getElementById('total_cost').value)
	form_data.append("sale_number_of_payments", document.getElementById('number_of_payments').value)
  form_data.append("valor_cuota", parseFloat( document.getElementById('valor_cuota').value))
  form_data.append("sale_date", document.getElementById('sale_date').value )
  form_data.append("number_cuota_increase", document.getElementById('number_cuota_increase').value )
  form_data.append("valor_cuota_aumentada", document.getElementById('valor_cuota_aumentada').value )

  all_payments(form_data)

	// validaciones aqui
	if ($('#fecha_compra').val() === '') {
		noty_alert( 'error', 'Debe seleccionar una fecha' )
		// return
	}

	if (form_data.get('clients[]').length == 0) {
		noty_alert( 'error', 'No ha seleccionado clientes.' )
		return
	}

	// if (form_data.get('paid') > sale.precio) {
		// los cambios los hago en el onchange del input
		// return
	// }

	if (form_data.get('number_of_payments') == '' ) {
		document.getElementById('number_of_payments').parentElement.classList.add('u-has-error-v1')
		$('#msg_number_of_payment').html('')
		$('#msg_number_of_payment').append(`<p class='text-danger ml-4'> Debe ingresar las cuotas </>`)
		return
	} else {
		document.getElementById('number_of_payments').parentElement.classList.remove('u-has-error-v1')
		$('#msg_number_of_payment').html('')
	}

	if ( form_data.get("number_cuota_increase") > 0 && form_data.get("valor_cuota_aumentada") == '' ) {
		noty_alert( 'error', 'Debe ingresar el valor aumentado de la cuota.' )
		return
	}

	if ( form_data.get("number_cuota_increase") == '' && form_data.get("valor_cuota_aumentada") > 0 ) {
		noty_alert( 'error', 'Debe ingresar a partir de que cuota aumenta el valor.' )
		return
	}

	if ( form_data.get("number_cuota_increase") > 0 && ( form_data.get("number_cuota_increase") > form_data.get('number_of_payments') ) ) {
		noty_alert( 'error', 'Cuota de aumento fuera de rango.' )
		return
	}

	if (document.getElementById('apply_arrear').checked && document.getElementById('arrear').value == '') {
		noty_alert('error', 'Debe ingresar % de mora')
		return
	}

	if ( ( document.getElementsByClassName('payment-data').length != form_data.get("num_pays") ) && document.getElementsByClassName('payment-data').length > 1 ) {
		noty_alert('error', 'Datos invalidos en primer pago')
		return
	}

	fetch('/sales/', {
      method: 'POST',
      headers: {           
        'X-CSRF-Token': document.getElementsByName('csrf-token')[0].content,
      },
      body: form_data
    }
  )
  .then( response => response.json() )
  .then( response => {
  	if (response.status === 'success') {
  		fields_table.ajax.reload(null,false)
	    $("#modal-field").modal('hide')
  	}
  	noty_alert(response.status, response.msg)
  } )
  .catch( error => noty_alert('error', 'Ocurrio un error, no se pudo registrar la venta') )
})