  <main class="container-fluid px-0 g-pt-65">
    <div class="row no-gutters g-pos-rel g-overflow-x-hidden">
      <!-- Sidebar Nav -->
      <div id="sideNav" class="col-auto u-sidebar-navigation-v1 u-sidebar-navigation--dark">
        <ul id="sideNavMenu" class="u-sidebar-navigation-v1-menu u-side-nav--top-level-menu g-min-height-100vh mb-0">
          <!-- Dashboards -->
          <li class="u-sidebar-navigation-v1-menu-item u-side-nav--has-sub-menu u-side-nav--top-level-menu-item u-side-nav-opened has-active">
            <a class="media u-side-nav--top-level-menu-link u-side-nav--hide-on-hidden g-px-15 g-py-12" href="#" data-hssm-target="#subMenu1">
              <span class="d-flex align-self-center g-pos-rel g-font-size-18 g-mr-18">
      <i class="hs-admin-server"></i>
    </span>
              <span class="media-body align-self-center">Terrenos</span>
              <span class="d-flex align-self-center u-side-nav--control-icon">
      <i class="hs-admin-angle-right"></i>
    </span>
              <span class="u-side-nav--has-sub-menu__indicator"></span>
            </a>

            <!-- Dashboards: Submenu-1 -->
            <ul id="subMenu1" class="u-sidebar-navigation-v1-menu u-side-nav--second-level-menu mb-0" style="display: block;">
              <!-- Dashboards v1 -->
              <li class="u-sidebar-navigation-v1-menu-item u-side-nav--second-level-menu-item">
                <%= link_to '<span class="d-flex align-self-center g-mr-15 g-mt-minus-1"> <i class="hs-admin-infinite"></i> </span>
                  <span class="media-body align-self-center">Sectores</span>'.html_safe, sectors_path, class:"media u-side-nav--second-level-menu-link g-px-15 g-py-12 active" %>
              </li>
              <!-- End Dashboards v1 -->

              <!-- Dashboards v2 -->
              <li class="u-sidebar-navigation-v1-menu-item u-side-nav--second-level-menu-item">
                <%= link_to '<span class="d-flex align-self-center g-mr-15 g-mt-minus-1"> <i class="hs-admin-apple"></i> </span>
                  <span class="media-body align-self-center">Manzanas</span>'.html_safe, apples_path, class:"media u-side-nav--second-level-menu-link g-px-15 g-py-12 active" %>
              </li>
              <!-- End Dashboards v2 -->

              <!-- Dashboards v3 -->
             <!--  <li class="u-sidebar-navigation-v1-menu-item u-side-nav--second-level-menu-item">
                <a class="media u-side-nav--second-level-menu-link g-px-15 g-py-12" href="dashboards/dashboard-v3.html">
                  <span class="d-flex align-self-center g-mr-15 g-mt-minus-1">
          <i class="hs-admin-harddrive"></i>
        </span>
                  <span class="media-body align-self-center">Lotes</span>
                </a>
              </li> -->
              <!-- End Dashboards v3 -->

              <!-- Dashboards v4 -->
<!--               <li class="u-sidebar-navigation-v1-menu-item u-side-nav--second-level-menu-item">
                <a class="media u-side-nav--second-level-menu-link g-px-15 g-py-12" href="dashboards/dashboard-v4.html">
                  <span class="d-flex align-self-center g-mr-15 g-mt-minus-1">
          <i class="hs-admin-harddrive"></i>
        </span>
                  <span class="media-body align-self-center">Dashboards v4</span>
                </a>
              </li> -->
              <!-- End Dashboards v4 -->
            </ul>
            <!-- End Dashboards: Submenu-1 -->
          </li>
          <!-- End Dashboards -->
          <!-- Clientes -->
          <li class="u-sidebar-navigation-v1-menu-item u-side-nav--top-level-menu-item">
            <%= link_to '<span class="d-flex align-self-center g-font-size-18 g-mr-18"><i class="hs-admin-user"></i></span><span class="media-body align-self-center">Clientes</span>'.html_safe, clients_path, 
                class: "media u-side-nav--top-level-menu-link u-side-nav--hide-on-hidden g-px-15 g-py-12 active"%>
          </li>
          <!-- End Clientes -->
        </ul>
      </div>
      <!-- End Sidebar Nav -->