  <main class="container-fluid px-0 g-pt-65">
    <div class="row no-gutters g-pos-rel g-overflow-x-hidden">
      <!-- Sidebar Nav -->
      <div id="sideNav" class="col-auto u-sidebar-navigation-v1 u-sidebar-navigation--dark">
        <ul id="sideNavMenu" class="u-sidebar-navigation-v1-menu u-side-nav--top-level-menu g-min-height-100vh mb-0">
          <!-- Dashboards -->
          <li class="u-sidebar-navigation-v1-menu-item u-side-nav--has-sub-menu u-side-nav--top-level-menu-item u-side-nav-opened has-active">
            <a class="media u-side-nav--top-level-menu-link u-side-nav--hide-on-hidden g-px-15 g-py-12" href="#" data-hssm-target="#subMenu1">
              <span class="d-flex align-self-center g-pos-rel g-font-size-18 g-mr-18">
      <i class="hs-admin-server"></i>
    </span>
              <span class="media-body align-self-center">Dashboards</span>
              <span class="d-flex align-self-center u-side-nav--control-icon">
      <i class="hs-admin-angle-right"></i>
    </span>
              <span class="u-side-nav--has-sub-menu__indicator"></span>
            </a>

            <!-- Dashboards: Submenu-1 -->
            <ul id="subMenu1" class="u-sidebar-navigation-v1-menu u-side-nav--second-level-menu mb-0" style="display: block;">
              <!-- Dashboards v1 -->
              <li class="u-sidebar-navigation-v1-menu-item u-side-nav--second-level-menu-item">
                <%= link_to '<span class="d-flex align-self-center g-mr-15 g-mt-minus-1"> <i class="hs-admin-infinite"></i> </span>
                  <span class="media-body align-self-center">Sectores</span>'.html_safe, sectors_path, class:"media u-side-nav--second-level-menu-link g-px-15 g-py-12 active" %>
              </li>
              <!-- End Dashboards v1 -->

              <!-- Dashboards v2 -->
              <li class="u-sidebar-navigation-v1-menu-item u-side-nav--second-level-menu-item">
                <%= link_to '<span class="d-flex align-self-center g-mr-15 g-mt-minus-1"> <i class="hs-admin-apple"></i> </span>
                  <span class="media-body align-self-center">Manzanas</span>'.html_safe, apples_path, class:"media u-side-nav--second-level-menu-link g-px-15 g-py-12 active" %>
              </li>
              <!-- End Dashboards v2 -->

              <!-- Dashboards v3 -->
              <li class="u-sidebar-navigation-v1-menu-item u-side-nav--second-level-menu-item">
                <a class="media u-side-nav--second-level-menu-link g-px-15 g-py-12" href="dashboards/dashboard-v3.html">
                  <span class="d-flex align-self-center g-mr-15 g-mt-minus-1">
          <i class="hs-admin-harddrive"></i>
        </span>
                  <span class="media-body align-self-center">Dashboards v3</span>
                </a>
              </li>
              <!-- End Dashboards v3 -->

              <!-- Dashboards v4 -->
              <li class="u-sidebar-navigation-v1-menu-item u-side-nav--second-level-menu-item">
                <a class="media u-side-nav--second-level-menu-link g-px-15 g-py-12" href="dashboards/dashboard-v4.html">
                  <span class="d-flex align-self-center g-mr-15 g-mt-minus-1">
          <i class="hs-admin-harddrive"></i>
        </span>
                  <span class="media-body align-self-center">Dashboards v4</span>
                </a>
              </li>
              <!-- End Dashboards v4 -->
            </ul>
            <!-- End Dashboards: Submenu-1 -->
          </li>
          <!-- End Dashboards -->

          <!-- Menu Leveles -->
          <li class="u-sidebar-navigation-v1-menu-item u-side-nav--has-sub-menu u-side-nav--top-level-menu-item">
            <a class="media u-side-nav--top-level-menu-link u-side-nav--hide-on-hidden g-px-15 g-py-12" href="#" data-hssm-target="#subMenuLevels1">
              <span class="d-flex align-self-center g-pos-rel g-font-size-18 g-mr-18">
      <i class="hs-admin-list-ol"></i>
    </span>
              <span class="media-body align-self-center">Menu Levels</span>
              <span class="d-flex align-self-center u-side-nav--control-icon">
      <i class="hs-admin-angle-right"></i>
    </span>
              <span class="u-side-nav--has-sub-menu__indicator"></span>
            </a>

            <!-- Menu Leveles: Submenu-1 -->
            <ul id="subMenuLevels1" class="u-sidebar-navigation-v1-menu u-side-nav--second-level-menu mb-0">
              <!-- Sub Level 2 -->
              <li class="u-sidebar-navigation-v1-menu-item u-side-nav--second-level-menu-item">
                <a class="media u-side-nav--second-level-menu-link g-px-15 g-py-12" href="#">
                  <span class="d-flex align-self-center g-mr-15 g-mt-minus-1">
          <i class="hs-admin-list"></i>
        </span>
                  <span class="media-body align-self-center">Sub Level 2</span>
                </a>
              </li>
              <!-- End Sub Level 2 -->

              <!-- Sub Level 2 -->
              <li class="u-sidebar-navigation-v1-menu-item u-side-nav--has-sub-menu u-side-nav--second-level-menu-item">
                <a class="media u-side-nav--second-level-menu-link g-px-15 g-py-12" href="#" data-hssm-target="#subMenuLevels2">
                  <span class="d-flex align-self-center g-mr-15 g-mt-minus-1">
          <i class="hs-admin-list"></i>
        </span>
                  <span class="media-body align-self-center">Sub Level 2</span>
                  <span class="d-flex align-self-center u-side-nav--control-icon">
          <i class="hs-admin-angle-right"></i>
        </span>
                </a>

                <!-- Menu Leveles: Submenu-2 -->
                <ul id="subMenuLevels2" class="u-side-nav--third-level-menu">
                  <!-- Sub Level 3 -->
                  <li class="u-side-nav--third-level-menu-item u-side-nav--has-sub-menu">
                    <a class="media d-flex u-side-nav--third-level-menu-link u-side-nav--hide-on-hidden g-pl-8 g-pr-15 g-py-6" href="#" data-hssm-target="#subMenuLevels3">
                      <span class="media-body align-self-center">Sub Level 3</span>
                      <span class="d-flex align-self-center u-side-nav--control-icon">
              <i class="hs-admin-angle-right"></i>
            </span>
                    </a>

                    <!-- Menu Leveles: Submenu-3 -->
                    <ul id="subMenuLevels3" class="u-side-nav--fourth-level-menu">
                      <!-- Sub Level 4 -->
                      <li class="u-side-nav--fourth-level-menu-item">
                        <a class="u-side-nav--fourth-level-menu-link g-px-15 g-py-6" href="#">
                          <span class="media-body align-self-center">Sub Level 4</span>
                        </a>
                      </li>
                      <!-- End Sub Level 4 -->

                      <!-- Sub Level 4 -->
                      <li class="u-side-nav--fourth-level-menu-item">
                        <a class="u-side-nav--fourth-level-menu-link g-px-15 g-py-6" href="#">
                          <span class="media-body align-self-center">Sub Level 4</span>
                        </a>
                      </li>
                      <!-- End Sub Level 4 -->

                      <!-- Sub Level 4 -->
                      <li class="u-side-nav--fourth-level-menu-item">
                        <a class="u-side-nav--fourth-level-menu-link g-px-15 g-py-6" href="#">
                          <span class="media-body align-self-center">Sub Level 4</span>
                        </a>
                      </li>
                      <!-- End Sub Level 4 -->
                    </ul>
                    <!-- End Menu Leveles: Submenu-3 -->
                  </li>
                  <!-- End Sub Level 3 -->

                  <!-- Sub Level 3 -->
                  <li class="u-side-nav--third-level-menu-item">
                    <a class="u-side-nav--third-level-menu-link u-side-nav--hide-on-hidden g-pl-8 g-pr-15 g-py-6" href="#">Sub Level 3</a>
                  </li>
                  <!-- End Sub Level 3 -->
                </ul>
                <!-- End Menu Leveles: Submenu-2 -->
              </li>
              <!-- End Sub Level 2 -->

              <!-- Sub Level 2 -->
              <li class="u-sidebar-navigation-v1-menu-item u-side-nav--second-level-menu-item">
                <a class="media u-side-nav--second-level-menu-link g-px-15 g-py-12" href="#">
                  <span class="d-flex align-self-center g-mr-15 g-mt-minus-1">
          <i class="hs-admin-list"></i>
        </span>
                  <span class="media-body align-self-center">Sub Level 2</span>
                </a>
              </li>
              <!-- End Sub Level 2 -->
            </ul>
            <!-- End Menu Leveles: Submenu-1 -->
          </li>
          <!-- End Menu Leveles -->
        </ul>
      </div>
      <!-- End Sidebar Nav -->